" Set <space> as the leader key
let mapleader = " "
let maplocalleader = " "

" [--- IdeaVim Setters ---]
set ideajoin
set idearefactormode=keep

" Remove Bell Sounds
set visualbell
set noerrorbells

" Set highlight on search
set nohlsearch

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Make line numbers default
set number
set relativenumber

" Enable mouse mode
set mouse=a

" Sync clipboard between OS and IdeaVim
set clipboard+=unnamed

" Enable break indent
set breakindent

" Save undo history
set undofile

" Case insensitive searching UNLESS /C or capital in search
set ignorecase
set smartcase

" Keep signcolumn on by default
set signcolumn=yes

" Decrease update time
set updatetime=250
set timeout
set timeoutlen=300

" Set completeopt to have a better completion experience
set completeopt=menuone,noselect


" [--- IdeaVim KEY REMAPS ---]

" Don't use Ex mode, use Q for formatting.
map Q gq

nnoremap <C-h> :action PreviousTab<CR>
nnoremap <C-l> :action NextTab<CR>
nnoremap <leader>xc :action CloseEditor<CR>
nnoremap <leader>xa :action CloseAllEditors<CR>

" Run Commands
nnoremap <leader>rp :action Run<CR>
nnoremap <leader>rd :action Debug<CR>
nnoremap <leader>rb :action CompileProject<CR>

" Move vertically while also centering
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzz
nnoremap N Nzz

" Move selection up and down with ease using IntelliJ actions and reformat code
vnoremap J :action MoveLineDown<CR>:action ReformatCode<CR>
vnoremap K :action MoveLineUp<CR>:action ReformatCode<CR>

" Use Ctrl+Backspace to erase words to the left of the cursor while writing
inoremap <C-BS> <C-o>db

" Map Ctrl + a to visually select the whole buffer
nnoremap <C-a> :normal! ggVG<CR>

" Paste without replacing system clipboard
nnoremap <silent> <leader>p "_dP

" Save using Ctrl + s like all other platforms
nnoremap <C-s> :w<CR>

" Open Search Files popup with <leader>sf
nnoremap <leader>sf :action GotoFile<CR>

" Find in Files with <leader>sg
nnoremap <leader>sg :action FindInPath<CR>

" Show error messages with ease
nnoremap <leader>se :action ShowErrorDescription<CR>

" Show quick documentation with <space>si
nnoremap <leader>si :action QuickJavaDoc<CR>

" Show methods in current class with <leader>sm
nnoremap <leader>sm :action FileStructurePopup<CR>

" Hide terminal/output with <leader>q
nnoremap <leader>q :action HideActiveWindow<CR>

" Set breakpoint with <leader>br
nnoremap <leader>br :action ToggleLineBreakpoint<CR>

" Show context actions with <leader>i
nnoremap <leader>i :action ShowIntentionActions<CR>

" Open Generate options with <leader>g
nnoremap <leader>gg :action Generate<CR>

" Go to Definition with <leader>gd
nnoremap <leader>gd :action GotoDeclaration<CR>

" Go to references with <leader>gr
nnoremap <leader>gr :action FindUsages<CR>

" Open Git actions with <leader>git
nnoremap <leader>lg :action Vcs.QuickListPopupAction<CR>

" Rename variable with <leader>rn
nnoremap <leader>rn :action RenameElement<CR>

" Map Ctrl+T to toggle terminal
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>

" Open Refactor menu in Visual mode with <leader>r
vnoremap <leader>r :<C-u>action Refactorings.QuickListPopupAction<CR>

" Open Refactor menu in Visual Block mode with <leader>r
xnoremap <leader>r :<C-u>action Refactorings.QuickListPopupAction<CR>

" [--- NERD TREE SUPPORT ---]
set NERDTree

" Toggle NERDTree with <leader>f
nnoremap <leader>f :NERDTreeToggle<CR>
